
/* Tudo */
*{
    font-family: 'Roboto', sans-serif !important;
    font-style: normal !important;
}
body {
    overflow: auto;
    height: 100%;
    display: flex;
    justify-content: center;
}
html {
    overflow: hidden;
    height: 100%;
    background-color: #E5E5E5;
  }
.container{
    /* width: 1366px; */
    width: 100%;
    min-height: 100vh; /* Define uma altura mínima de 100% da altura da tela */
    margin-left: auto;
    margin-right: auto;
}
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex2{
    display: flex;
    align-items: center;
}
ion-icon {
    font-size: 22px;
    }
/* Menu Superior */
.menu-superior{
    position: fixed;
    background-color: #FFFFFF;
    width: 100%;
    height: 3.375em;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #DBDBDB;
}
.mini-logo{
    margin-left: 14.29em;
    height: auto;
}
.barra-mini-logo{
    width: 0.08em;
    height: 1.47em;
    margin-left: 0.76em;
    border-left: 0.08em solid #DBDBDB ;
    margin-top: 1.02em;
    margin-bottom: 1.27em;
}
.logo{
    margin-left: 0.71em;
    width: 7.44em;
    height: 2.04em;
    margin-top: 1.02em;
}
.pesquisar{
    margin-left: 14.14em;
}
input {
    width: 16.67em;
    height: 2.22em;
    margin-top: 1em;
    margin-bottom: 1em;
    text-align: center;
    box-sizing: border-box;
    border-radius: 3px;
    border: 0.08em solid #DBDBDB;
    background-color: #FAFAFA;;
    background-size: 1em;
    background-repeat: no-repeat;
    background-position: 3.71em 0;
}
input:focus {
    background-position: 0;
    text-align: start;
    padding-left: 1em;
}
.icons-esquerda{
    margin-left: 235px;
    width: 115px;
}
.mini{
    margin-right: 24.1px;
}

/* Conteúdo */
.dirEsq{
    min-height: 100vh; /* Define uma altura mínima de 100% da altura da tela */
    display: flex;
    flex-direction: row;
    height: auto;
    width: 100%;
}
.container-conteudo{
    width: 68.5%; /* 935px */
    padding-top: 3.2em; /* 54.8px */
    margin-left: auto;
    margin-right: auto;
    display: flex;
}
.container-principal{
    display: flex;
    flex-direction: column;
    width: 38.375em; /* 614px */
    height: auto;
    margin-top: 2.3em; /* 34px */
    box-sizing: border-box;
    border: 0.067em solid #DBDBDB; /* 1px */
    border-radius: 0.2em; /* 3px */ 
}
.container-stories1{
    box-sizing: border-box;
    width: 100%;
    height: 7.8em; /* 118px */
    border: 0.067em solid #DBDBDB; /* 1px */
    background-color: #FFFFFF;
    box-shadow: 0px 0.267em 0.267em rgba(0, 0, 0, 0.25), 0px 0.267em 0.267em rgba(0, 0, 0, 0.25); /* 0px 4px 4px */
    border-radius: 0.2em; /* 3px */
    justify-content: space-around;
    padding-left: 0.667em; /* 10px */
}
.stories1{
    width: 3.11em;
    height: 3.11em;
    background: url(img/js.svg), url(img/stories_background.jpg);
    background-size: 80%, 3.11em 3.11em;
    background-repeat: no-repeat;
    border-radius: 50%;
    background-position: center center;
}
.stories2{
    width: 3.11em;
    height: 3.11em;
    background: url(img/js.svg), url(img/stories_background.jpg);
    background-size: 80%, 3.11em 3.11em;
    background-repeat: no-repeat;
    border-radius: 50%;
    background-position: center center;
}
.stories3{
    width: 3.11em;
    height: 3.11em;
    background-image: url(img/py.png), url(img/stories_background.jpg);
    background-size: 80%, 3.11em 3.11em;
    background-repeat: no-repeat;
    border-radius: 50%;
    background-position: center bottom;
}
.stories4{
    width: 3.11em;
    height: 3.11em;
    background-image: url(img/py.png), url(img/stories_background.jpg);
    background-size: 80%, 3.11em 3.11em;
    background-repeat: no-repeat;
    border-radius: 50%;
    background-position: center bottom;
}

.stories5{
    width: 3.5em;
    height: 3.5em;
    background-image: url(img/py.png), url(img/stories_background.jpg);
    background-size: 80%, 3.5em 3.5em;
    background-repeat: no-repeat;
    border-radius: 50%;
    background-position: center bottom;
}
.stories6{
    width: 3.5em;
    height: 3.5em;
    background-image: url(img/py.png), url(img/stories_background.jpg);
    background-size: 80%, 3.5em 3.5em;
    background-repeat: no-repeat;
    border-radius: 50%;
    background-position: center bottom;
}
.stories7{
    width: 3.5em;
    height: 3.5em;
    background-image: url(img/py.png), url(img/stories_background.jpg);
    background-size: 80%, 3.5em 3.5em;
    background-repeat: no-repeat;
    border-radius: 50%;
    background-position: center bottom;
}
.div-arrow a{
    text-decoration: none;
    color: lightgray;
}
.arrow-icon{
    width: 1.625em;
    height: 1.625em;
    font-size: 0.9375em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-repeat: no-repeat;
    border-radius: 50%;
}
.container-posts{
    width: 100%;
    height: auto;
}

/* Postagens */
.dots{
    width: 100%;
    height: 61px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.dot1, .dot2, .dot3{
    width: 3px;
    height: 3px;
    font-size: 20px;
    margin-top: 16px;
    color: #262626;
    font-weight: 700;
}
.dot1{
    margin-right: 2px;
}
.dot2{
    margin-right: 2px;
}
.dot3{
    margin-right: 16px;
}
.cabecalho1{
    height: 61px;
    margin-left: 17px;
}
.img-cabecalho1{
    width: 32px;
    height: 32px;
    background-image: url(img/py.png);
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    /* margin-left: 17px; */
    border-color: black;
    border-width: 1px;
}
.img-cabecalho2{
    width: 32px;
    height: 32px;
    background-image: url(img/bash.png);
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    /* margin-left: 17px; */
    border-color: black;
    border-width: 1px;
}

.img-post1{
    height: 612px;
    width: 100%;
}
.icones-inferior{
    width: 100%;
    height: 39px;
    
}
.icones-esquerda{
    margin-bottom: 10.44px;
    display: flex;
    align-items: center;
}
.mini2{
    margin-left: 17.75px;
}
#primeiroPost{
    margin-top: 24px;
}
.post2{
    box-sizing: border-box;
    margin-bottom: 59px;
    height: 712px;
    background-color: #FFFFFF;
}
.post3{
    box-sizing: border-box;
    background-color: #FFFFFF;
    margin-bottom: 59px;
    height: 724px;
}

/* ________ */

.titulo1{
    margin-left: 15px;
    width: 109px;
    height: 21px;
    margin-top: 21px;
    margin-bottom: 19px;
}
.titulo h4{
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #262626;
}

.container-lateral{
    margin-top: 57px !important;
    margin-left: 29px;
    width: 293px;
    min-height: 100vh; /* Define uma altura mínima de 100% da altura da tela */
}
.cabecalho-lateral{
    display: flex;
    height: 56px;
    width: 255px;
}
.descricao-lateral{
    width: 182px;
    height: 34px;
    margin-left: 17px;
    margin-top: 11px;
    font-size: 14px;
    line-height: 16.41px;
}
.descricao-lateral h3{
    color: #262626;
    font-weight: 500;
}
.descricao-lateral h4{
    color: #8E8E8E;
    font-weight: 300;
}
.linha-sugestoes{
    display: flex;
    height: 15px;
    margin-top: 24px;
    width: 294px;
    align-items: center;
}
.sugestoes h4{
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
}
.ver-tudo a{
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    text-decoration:none;
    margin-left: 130px;
    color: black;
}
.ver-tudo a:hover{
    text-decoration:underline;
}
.links-sugestoes{
    width: 294px;
    min-height: 274px;
    padding-top: 18px;
}
.sug1{
    display: flex;
}
.img-superior-lateral{
    width: 56px;
    height: 56px;
    background-image: url(img/js.svg);
    background-size: cover;
    background-position: center;
    border-radius: 50%;
}
.img-sug1{
    width: 32px;
    height: 32px;
    background-image: url(img/js.svg);
    background-size: cover;
    background-position: center;
    border-radius: 50%;
}
.escritos-sug1{
    margin-left: 11px;
    width: 143px;
}
.name-sug1{
    width: 126px;
    height: 14px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
}
.segue-sug1{
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    height: 36px;
    color: #8E8E8E;
}
.btn-seguir{
    width: 36px;
    height: 11px;
    margin-left: 70px;
}
.btn-seguir a{
    text-decoration:none;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #139EF2;
}
.btn-seguir a:hover{
    text-decoration: underline;
}
.sobre{
    width: 300px;
    height: 42px;
}
.sobre h5{
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
}
.copyright{
    width: 300px;
    height: 14px;
    margin-top: 18px;
}
.copyright h5{
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
}

/* Responsividade */
@media (max-width: 935px) {
    .container-lateral {
        display: none;
    }
    .container{
        justify-content: center;
    }
    .container-conteudo {
        justify-content: center;
        margin-left: auto; margin-right: auto;
    }
}
    
@media (max-width: 614px) {
    .container-principal {
        width: 100%;
    }
    /* .container{
        display: flex;
        justify-content: center;
    } */
    .container-conteudo {
        justify-content: center;
        margin-left: auto; margin-right: auto;
    }
    input{
        display:none;
    }
    .menu-superior{
        justify-content: center;
    }
    .logo{
        margin-left: auto; margin-right: auto;
    }
}
