
/* Tudo */
*{
    font-family: 'Roboto', sans-serif !important;
    font-style: normal !important;
}
.text-decoration{
    text-decoration: none;
    color: black;
}
.expand{
    transition: transform 0.3s;
}
.expand:hover{
    transform: scale(1.5);
}
body {
    overflow: auto;
    height: 100%;
    display: flex;
    justify-content: center;
}
html {
    overflow: hidden;
    height: 100%;
    background-color: #E5E5E5;
  }
.container{
    /* width: 1366px; */
    width: 100%;
    min-height: 100vh; /* Define uma altura mínima de 100% da altura da tela */
    margin-left: auto;
    margin-right: auto;
}
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex2{
    display: flex;
    align-items: center;
}
ion-icon {
    font-size: 22px;
    }
/* Menu Superior */
.menu-superior{
    position: fixed;
    z-index: 1000;
    background-color: #FFFFFF;
    width: 100%;
    height: 3.375em;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #DBDBDB;
}
.mini-logo{
    margin-left: 14.29em;
    height: auto;
}
.barra-mini-logo{
    width: 0.08em;
    height: 1.47em;
    margin-left: 0.76em;
    border-left: 0.08em solid #DBDBDB ;
    margin-top: 1.02em;
    margin-bottom: 1.27em;
}
.logo{
    margin-left: 0.71em;
    width: 7.44em;
    height: 2.04em;
    margin-top: 1.02em;
}
.pesquisar{
    margin-left: 14.14em;
}
input {
    width: 16.67em;
    height: 2.22em;
    margin-top: 1em;
    margin-bottom: 1em;
    text-align: center;
    box-sizing: border-box;
    border-radius: 3px;
    border: 0.08em solid #DBDBDB;
    background-color: #FAFAFA;;
    background-size: 1em;
    background-repeat: no-repeat;
    background-position: 3.71em 0;
}
input:focus {
    background-position: 0;
    text-align: start;
    padding-left: 1em;
}
.icons-esquerda{
    margin-left: 235px;
    width: 115px;
}
.mini{
    margin-right: 24.1px;
    transition: transform 0.3s;
}
.mini:hover{
    transform: scale(1.5);
}

/* Conteúdo */
.dirEsq{
    min-height: 100vh; /* Define uma altura mínima de 100% da altura da tela */
    display: flex;
    flex-direction: row;
    height: auto;
    width: 100%;
}
.container-conteudo{
    width: 68.5%; /* 935px */
    padding-top: 3.2em; /* 54.8px */
    margin-left: auto;
    margin-right: auto;
    display: flex;
}
.container-principal{
    display: flex;
    flex-direction: column;
    width: 38.375em; /* 614px */
    height: auto;
    margin-top: 2.3em; /* 34px */
    box-sizing: border-box;
    border: 0.067em solid #DBDBDB; /* 1px */
    border-radius: 0.2em; /* 3px */ 
}
.container-stories1{
    box-sizing: border-box;
    width: 100%;
    height: 7.8em; /* 118px */
    border: 0.067em solid #DBDBDB; /* 1px */
    background-color: #FFFFFF;
    box-shadow: 0px 0.267em 0.267em rgba(0, 0, 0, 0.25), 0px 0.267em 0.267em rgba(0, 0, 0, 0.25); /* 0px 4px 4px */
    border-radius: 0.2em; /* 3px */
    justify-content: space-around;
    padding-left: 0.667em; /* 10px */
}
#desc{
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #262626;
    margin-top: 0.2em;
    text-align: center;
}
.stories-fundo{
    width: 3.7em;
    height: 3.7em;
    background: url(img/stories_background.jpg);
    background-size: 3.7em 3.7em;
    background-repeat: no-repeat;
    border-radius: 50%;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items:center;
    z-index: 1;
}
.stories{
    width: 3.2em;
    height: 3.2em;
    border-radius: 50%;
    justify-content: center;
    z-index: 2;
}
.div-arrow a{
    text-decoration: none;
    color: lightgray;
}
.arrow-icon{
    width: 1.625em;
    height: 1.625em;
    font-size: 0.9375em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-repeat: no-repeat;
    border-radius: 50%;
}
.container-posts{
    width: 100%;
    height: auto;
}

/* Postagens */
.dots{
    width: 100%;
    height: 61px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.dot1, .dot2, .dot3{
    width: 3px;
    height: 3px;
    font-size: 20px;
    margin-top: 16px;
    color: #262626;
    font-weight: 700;
}
.dot1{
    margin-right: 2px;
}
.dot2{
    margin-right: 2px;
}
.dot3{
    margin-right: 16px;
}
.cabecalho1{
    height: 61px;
    margin-left: 17px;
}
.img-cabecalho{
    width: 32px;
    height: 32px;
    background-position: center;
    border-radius: 50%;
}
.img-cabecalho0{
    background-image: url(img/ursolino.PNG);
    background-size: cover;
}
.img-cabecalho1{
    background-image: url(img/ruivex-icon.PNG);
    background-size: cover;
}
.img-cabecalho2{
    background-image: url(img/py.png);
    background-size: cover;
}
.img-cabecalho3{
    background-image: url(img/node-icon.png);
    background-size: cover;
}
.img-cabecalho4{ /* ursolino */
    background-image: url(img/ruivex-icon.PNG);
    background-size: cover;
}
.img-cabecalho5{ /* ursolino */
    background-image: url(img/ursolino.PNG);
    background-size: cover;
}
.img-cabecalho6{ /* ursolino */
    background-image: url(img/ursolino.PNG);
    background-size: cover;
}
.img-cabecalho7{ /* super-broc */
    background-image: url(img/brocs.PNG);
    background-size: cover;
}
.img-post{
    height: 612px;
    width: 100%;
}
.video-post{
    height: auto;
    width: 100%;
}
.icones-inferior {
    width: 100%;
    height: 39px;
    padding-top: 0.5em;
  }
  
.icones-esquerda {
    margin-bottom: 10.44px;
    display: flex;
    align-items: center;
}

.icon-direita {
    width: 100%;
    margin-right: 0.7em;
    margin-bottom: 0.65em;
    display: flex;
    justify-content: flex-end;
}

.mini2 {
    margin-left: 17.75px;
    transition: transform 0.3s;
}

.mini2:hover {
    transform: scale(1.5);
}
  
#primeiroPost{
    margin-top: 24px;
}
.post{
    box-sizing: border-box;
    margin-bottom: 59px;
    height: auto;
    background-color: #FFFFFF;
    border: 1px solid #DBDBDB;
    border-radius: 3px;
}

/* ________ */

.titulo1{
    margin-left: 15px;
    width: 109px;
    height: 21px;
    margin-top: 21px;
    margin-bottom: 19px;
}
.titulo h4{
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #262626;
}

.container-lateral{
    margin-top: 57px !important;
    margin-left: 29px;
    width: 293px;
    min-height: 100vh; /* Define uma altura mínima de 100% da altura da tela */
}
.cabecalho-lateral{
    display: flex;
    height: 56px;
    width: 255px;
}
.descricao-lateral{
    width: 182px;
    height: 34px;
    margin-left: 17px;
    margin-top: 11px;
    font-size: 14px;
    line-height: 16.41px;
}
.descricao-lateral h3{
    color: #262626;
    font-weight: 500;
}
.descricao-lateral h4{
    color: #8E8E8E;
    font-weight: 300;
}
.linha-sugestoes{
    display: flex;
    height: 15px;
    margin-top: 24px;
    width: 294px;
    align-items: center;
}
.sugestoes h4{
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
}
.ver-tudo a{
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    text-decoration:none;
    margin-left: 130px;
    color: black;
}
.ver-tudo a:hover{
    text-decoration:underline;
}
.links-sugestoes{
    width: 294px;
    min-height: 274px;
    padding-top: 18px;
}
.sug1{
    display: flex;
}
.img-superior-lateral{
    width: 56px;
    height: 56px;
    background-image: url(img/kevin.PNG);
    background-size: cover;
    background-position: center;
    border-radius: 50%;
}
.img-sugestao{
    width: 32px;
    height: 32px;
    background-position: center;
    border-radius: 50%;
}
.img-sug1{
    background-image: url(img/monique1.png);
    background-size: cover;
}
.img-sug2{
    background-image: url(img/holi-color.PNG);
    background-size: cover;
}
.img-sug3{
    background-image: url(img/ruivo.PNG);
    background-size: cover;
}
.img-sug4{
    background-image: url(img/clara.PNG);
    background-size: cover;
}
.img-sug5{
    background-image: url(img/thais.png);
    background-size: cover;
}
.img-sug6{
    background-image: url(img/frog.png);
    background-size: cover;
}
.escritos-sug1{
    margin-left: 11px;
    width: 143px;
}
.name-sug1{
    width: 126px;
    height: 14px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
}
.segue-sug1{
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    height: 36px;
    color: #8E8E8E;
}
.btn-seguir{
    width: 36px;
    height: 11px;
    margin-left: 70px;
}
.btn-seguir a{
    text-decoration:none;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #139EF2;
}
.btn-seguir a:hover{
    text-decoration: underline;
}
.sobre{
    width: 300px;
    height: 42px;
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    color: #C7C7C7;
}
.sobre p, .sobre a{
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    color: #C7C7C7;
}

.sobre h5{
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
}
.copyright{
    width: 300px;
    height: 14px;
    margin-top: 18px;
}
.copyright h5{
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    color: #C7C7C7;
}

/* Responsividade */
@media (max-width: 935px) {
    .container-lateral {
        display: none;
    }
    .container{
        justify-content: center;
    }
    .container-conteudo {
        justify-content: center;
        margin-left: auto; margin-right: auto;
    }
}
    
@media (max-width: 614px) {
    .container{
        width: 100%;
    }
    .container-principal {
        width: 100%;
    }
    /* .container{
        display: flex;
        justify-content: center;
    } */
    .container-conteudo {
        justify-content: center;
        margin-left: auto; margin-right: auto;
        width: 100%;
    }
    input{
        display:none;
    }
    .menu-superior{
        justify-content: center;
    }
    .logo{
        margin-left: auto; margin-right: auto;
    }
}
